<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Profile Creator</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main id="app">
      <div id="creation">
        <h1 id="title">Create Your Profile</h1>

        <!-- Input Fields -->
        <span>First Name:</span>
        <input type="text" v-model="firstName" />
        <span>Last Name:</span>
        <input type="text" v-model="lastName" />
        <span>Age:</span>
        <input type="number" min="0" v-model="age" />
        <span id="about-you">A Bit About You:</span>
        <textarea rows="5" maxlength="50" v-model="desc"></textarea>
      </div>

      <span id="line"></span>

      <div id="preview">
        <h1 id="title">Profile Preview</h1>

        <!-- Profile Preview -->
        <img id="pfp" src="https://image.flaticon.com/icons/svg/74/74472.svg" />
        <h3>{{ firstName }} {{ lastName }}</h3>
        <h3 v-if="age && age != 0">{{ age }} years old</h3>
        <p>{{ desc }}</p>
      </div>
    </main>

    <script src="index.js"></script>
  </body>
</html>
