@import url("https://fonts.googleapis.com/css?family=Gupter&display=swap");

body {
  font-family: "Gupter", serif;
}

#app {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h1 {
    text-align: center;
  }
}

#creation {
  display: grid;
}

#preview {
  text-align: center;
  margin-left: 10rem;

  #pfp {
    height: 100px;
    width: 100px;
    background-color: #036ffc;
    border-radius: 100%;
  }
}
